#home {
  font-style: italic;
}

#top_icon_id
{
  position: absolute;
  top: 0px;
  right: 105px;
  width: 60px;
  height: 60px;
}

#bottom_icon_id
{
  position: absolute;
  top: 180px;
  right: 105px;
  width: 60px;
  height: 60px;
}

#left_icon_id
{
  position: absolute;
  top: 90px;
  right: 200px;
  width: 60px;
  height: 60px;
}

#right_icon_id
{
  position: absolute;
  top: 90px;
  right: 0;
  width: 60px;
  height: 60px;
}

#face_icon_id
{
  position: absolute;
  top: 100px;
  right: 115px;
  width: 40px;
  height: 40px;
}

////// Navigation

#up_nav_icon_id
{
  position: absolute;
  top: -30px;
  right: 115px;
  width: 35px;
  height: 35px;
}

#down_nav_icon_id
{
  position: absolute;
  top: 390px;
  right: 375px;
  width: 35px;
  height: 35px;
}

#left_nav_icon_id
{
  position: absolute;
  top: 255px;
  right: 505px;
  width: 35px;
  height: 35px;
}

#right_nav_icon_id
{
  position: absolute;
  top: 255px;
  right: 240px;
  width: 35px;
  height: 35px;
}

////// Address Arrows
#address_up_nav_icon_id
{
  position: relative;
  top: -138px;
  right: -85px;
  width: 35px;
  height: 35px;
  z-index: 3;
}

#address_down_nav_icon_id
{
  position: fixed;
  top: 390px;
  right: 407px;
  width: 35px;
  height: 35px;
}

#address_left_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 539px;
  width: 35px;
  height: 35px;
}

#address_right_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 268px;
  width: 35px;
  height: 35px;
}

////AppDirectory Arrows
#address_up_nav_icon_id
{
  position: relative;
  top: -138px;
  right: -85px;
  width: 35px;
  height: 35px;
  z-index: 3;
}

#address_down_nav_icon_id
{
  position: fixed;
  top: 390px;
  right: 407px;
  width: 35px;
  height: 35px;
}

#address_left_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 539px;
  width: 35px;
  height: 35px;
}

#address_right_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 268px;
  width: 35px;
  height: 35px;
}

////HealthList Arrows
#address_up_nav_icon_id
{
  position: relative;
  top: -138px;
  right: -85px;
  width: 35px;
  height: 35px;
  z-index: 3;
}

#address_down_nav_icon_id
{
  position: fixed;
  top: 390px;
  right: 407px;
  width: 35px;
  height: 35px;
}

#address_left_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 539px;
  width: 35px;
  height: 35px;
}

#address_right_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 268px;
  width: 35px;
  height: 35px;
}

////HealthServicesList Arrows
#address_up_nav_icon_id
{
  position: relative;
  top: -138px;
  right: -85px;
  width: 35px;
  height: 35px;
  z-index: 3;
}

#address_down_nav_icon_id
{
  position: fixed;
  top: 390px;
  right: 407px;
  width: 35px;
  height: 35px;
}

#address_left_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 539px;
  width: 35px;
  height: 35px;
}

#address_right_nav_icon_id
{
  position: fixed;
  top: 255px;
  right: 268px;
  width: 35px;
  height: 35px;
}

///// Lists

ul {
  list-style-type: none;
}

li {
  font-size: 30px;
}

////// Hightlight

// .highlight {
//   background-color: darkslategray;
//   background-size: contain;
// }

.scroll {
  height: 150px;
  overflow: scroll;
}

.center{
  text-align: center;
}
.heading{
  position: fixed;
  display: inline;
  right: 250px;
}
.body{
  float:left;
}

.bg-orange{
  background-color: #EC7A23;
}
