<h1 class="h1Style">The Health Clinic</h1>
<p class="address">114 Elizabeth Street, Surry Hills</p>

<img class="app_up_nav_icon_id" src="./../../images/up.png"/>
<img class="app_left_nav_icon_id" src="./../../images/left.png"/>
<img class="home_right_nav_icon_id" src="./../../images/home2.png"/>
<img class="app_down_nav_icon_id" src="./../../images/down.png"/>

<img id="foot" src="./../../images/circles4.png"/>
