<div>
  <img id="top_icon_id" class="top_icon_class" src="./../../images/health.png"/>
</div>
<div>
  <img id="left_icon_id" class="top_icon_class" src="./../../images/food.png"/>
</div>
<div>
  <img id="right_icon_id" class="top_icon_class" src="./../../images/home.png"/>
</div>
<div>
  <img id="face_icon_id" class="top_icon_class" src="./../../images/clock.png"/>
</div>
