<div>
  <img id="top_icon_id" src="./../../images/health.png"/>
</div>
<div>
  <img id="left_icon_id" src="./../../images/food.png"/>
</div>
<div>
  <img id="right_icon_id" src="./../../images/home.png"/>
</div>
<div>
  <img id="bottom_icon_id" src="./../../images/social.png"/>
</div>
<div>
  <img id="face_icon_id" src="./../../images/clock.png"/>
</div>
