<h1 class="h1Style">Food Services</h1>

<ol class="olStyle">
  <li>food place a</li>
  <li>food place b</li>
</ol>



<img class="app_up_nav_icon_id" src="./../../images/up.png"/>
<img class="app_left_nav_icon_id" src="./../../images/left.png"/>
<img class="app_right_nav_icon_id" src="./../../images/right.png"/>
<img class="app_down_nav_icon_id" src="./../../images/down.png"/>
