<h1 class="h1Style">Health List</h1>
<ol class="scroll olStyle">
  <li class="highlight">City Doctors</li>
  <li class="highlight">Best Help</li>
  <li class="highlight">We Cure Diseases</li>
  <li class="highlight">We Cure Heart Diseases</li>
  <li class="highlight">We Cure Cancer Diseases</li>
  <li class="highlight">We Cure Everything</li>
</ol>

<img class="app_up_nav_icon_id" src="./../../images/up.png"/>
<img class="app_left_nav_icon_id" src="./../../images/left.png"/>
<img class="app_right_nav_icon_id" src="./../../images/right.png"/>
<img class="app_down_nav_icon_id" src="./../../images/down.png"/>

<img id="foot" src="./../../images/circles3.png"/>
