<h1>Health Services</h1>

<!-- <ul>
  <li>Dentist</li>
  <li>Doctor</li>
  <li>Counsellor</li>
  <li>Hospital</li>
  <li>Pharmacist</li>
</ul> -->

<ul>
  <li>{{categories}}</li>
</ul>

<img id="healthServicesList_up_nav_icon_id" src="./../../images/up.png"/>
<img id="healthServicesList_left_nav_icon_id" src="./../../images/left.png"/>
<img id="healthServicesList_right_nav_icon_id" src="./../../images/right.png"/>
<img id="healthServicesList_down_nav_icon_id" src="./../../images/down.png"/>
