<h1>Health List</h1>
<ul class="scroll">
  <li class="highlight">City Doctors</li>
  <li class="highlight">Best Help</li>
  <li class="highlight">We Cure Diseases</li>
  <li class="highlight">We Cure Heart Diseases</li>
  <li class="highlight">We Cure Cancer Diseases</li>
  <li class="highlight">We Cure Everything</li>
</ul>
