<h1 class="h1Style">Health Services</h1>

<ol class="olStyle">
  {{#each healthOptions}}
    <li>{{service_type}}</li>
  {{/each}}
</ol>

<img class="app_up_nav_icon_id" src="./../../images/up.png"/>
<img class="app_left_nav_icon_id" src="./../../images/left.png"/>
<img class="app_right_nav_icon_id" src="./../../images/right.png"/>
<img class="app_down_nav_icon_id" src="./../../images/down.png"/>


<img id="foot" src="./../../images/circles2.png"/>
