<h1>Made by:</h1>
<ul>
    <!-- TODO: Add your name as a list element -->
    <li>Chris</li>
    <li>Mark Nerwich</li>
    <li>Sheena Takkenberg</li>
    <li>Andrew Knight</li>
    <li>Pauline Kelly</li>
</ul>
