<h1>Made by:</h1>
<ul>
    <!-- TODO: Add your name as a list element -->
<<<<<<< c3f25d639eb8e6f5c95c72dd31337589ffbd1bc0
    <p>Chris</p>
    <li></li>
<<<<<<< 0e6d752707882e673d589fbc39d5d44079890a82
    <li>
    Mark Nerwich
    </li>
=======
=======
    <li>Sheena Takkenberg</li>
>>>>>>> Sheena/Adam: wrote test and added name to team page
>>>>>>> Sheena/Adam: wrote test and added name to team page
</ul>
